.franja.d-flex{
    background: gray;
    padding: 1.25rem;
    color: white;
    line-height: 1.75rem;
    align-items: center;
    padding-left: 0;
}

.numero_pago{
    background: white;
    color: black;
    padding: 10px 20px;
    min-width: 400px;
    text-align: center;
    font-weight: 600;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

input.form-control.hide__print__border.ms-auto.limited__width {
    background: gray;
    font-weight: bold;
    min-width: 150px;
    border: none;
    text-align: center;
    border-radius: 0;
    height: 40px;
    color: white;
}
.fecha h2{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.input.form-control.hide__print__border{
    font-weight: 300;
}
p.client__name{
    text-transform: uppercase;
    font-weight: semi-bold;
    font-size: 18px;
}
.degraded__band{
    background: rgba(0,0,0, 0.3);
    padding: 10px 20px;
}
.fecha_y_cantidad.d-flex.mt-3, .concept{
    padding: 20px;
    padding-top: 5px;
}
.bordered__container.mt-3{
    border: 2px solid gray
}
.d-block.separator{
    border-bottom: 1px solid gray;
    padding: 10px;
}

.sign{
    text-align: center;
    max-width: 300px;
    margin: auto;
}

.sign hr{
    margin-top: 5rem;
    margin-bottom: .5rem;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.numero_pago>input{
    color: black;
    font-weight: 600;
    border: none;
    transition: ease-in-out 0.3s;
}
.numero_pago>input:hover{
    border: 1px solid black;
    border-radius: 8px;
}

.client__name>b>input{
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    width: 600px;
    border: 1px solid transparent;
    transition: ease-in-out 0.3s;
}

.client__name>b>input:hover{
    border: 1px solid black;
    border-radius: 8px;
}
.location__input{
    width: 100%;
    border: 1px solid transparent;
    text-transform: uppercase;
    text-decoration: underline;
    transition: ease-in-out 0.3s;
}
.location__input:hover{
    border: 1px solid black;
    border-radius: 8px;
}

span.d-block.separator{
    border-bottom: 3px solid gray;
    opacity: 0.6;
}
.owner__input{
    border: 1px solid transparent;
    transition: ease-in-out 0.3s;
    text-align: center;
}
.owner__input:hover{
    border: 1px solid black;
    border-radius: 8px;
}
